:root {
  --size: 50%;
  --color-dark-gray: #bbbbbb;
  --color-light-gray: #e7e7e7;
  --color-white: #fff;
  --color-light: #31ca97;
  --color-dark: #2eaf84;
  --color-greenish: linear-gradient(180deg, #00afb1 0%, #0e6882 100%);
  --color-dark-blue: #0088a9;
  --color-light-blue: #0bbfec;
  --color-button: linear-gradient(rgb(6, 174, 216), rgba(0, 136, 169, 1));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
section {
  width: 100vw;
  height: 100vh;
}

.heading-secondary {
  color: #0e6882;
  margin: 2rem 1rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  z-index: 3;
}
.heading-secondary span {
  color: white;
}

h2:hover {
  color: rgb(8, 139, 111);
  text-align: center;
}

.header {
  height: 100vh;
  widows: 100vw;
  margin-bottom: 3rem;
  position: relative;
}
.header__nav {
  width: 100vw;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(0, 136, 169, 1);

  top: 0;
}
.header__nav .logo {
  font-size: 1.4rem;
  padding-left: 1rem;
  font-weight: 700;
  color: var(--color-dark);
  cursor: pointer;
  margin-right: auto;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0rem 2rem;
}
.nav__links li a:link,
.nav__links li a:visited {
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  margin: 0rem 1.1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--color-dark);
  border: none;
  font-weight: 600;
}
.nav__links li a:hover {
  color: var(--color-dark-blue);
}

.btn-nav {
  padding: 0.4rem 1.4rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-out 0s;
  margin-right: 1.8rem;
  font-size: 0.7rem;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  padding-top: -0.4rem;
}
.btn-nav:hover {
  background-color: var(--color-dark);
  color: white;
}
/* ---------------------------------- */
.header__body {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.767); */
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.473),
      rgba(15, 12, 24, 0.842)
    ),
    url("../img/k-6.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .bg-video {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
} */
.header__body .btn:link,
.header__body .btn:visited {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5rem;
  padding: 0.4rem 3.4rem;
  border: none;
  /* background-color: var(--color-dark); */
  background: none;
  font-family: "Lato", sans-serif;
  animation-name: moveUp;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  transition: all 0.2s;
  position: relative;
  border: 3px solid white;
}
.header__body .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(58, 87, 72, 0.3);
  color: rgb(65, 65, 65);
  background-color: #fff;
  font-weight: bold;
}
.header__body .btn:active {
  transform: translateY(-1px);
}

.header__body .btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  80% {
    opacity: 0.6;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*=======================================================================================*/

/*========================================features ==================-=-====*/

.features {
  padding: 3rem 0rem;
  background-color: rgb(255, 255, 255);
  display: grid;
  position: relative;
}
.features-back {
  height: 100rem;
  width: 100rem;

  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  background-image: linear-gradient(200deg, #00afb1 0%, #0e6882 100%);

  height: 100%;
  width: 50%;
  box-shadow: 1px 5px 10px 1px #a7b1e9;
  position: absolute;
  z-index: 0;
  transform: skew(-0.06turn, 180deg);
  overflow: hidden;
  margin-left: -10rem;
}

.features i {
  width: 2rem;
  font-size: 4rem;
  height: 50%;
}
.category {
  text-align: center;
  margin-left: 20rem;
  padding-bottom: 5rem;
}
.category .category-list {
  font-family: "Nunito", sans-serif;
  align-items: center;
  text-align: center;
}
.category .category-list .list-items {
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
  margin: 1rem 4rem;
  width: 56%;
  box-shadow: 1px 1px 10px 1px rgba(8, 0, 51, 0.274);
  background-image: linear-gradient(120deg, #cbe5fd 00%, #2c6896ce 100%);
  z-index: 3;
}

.category .category-list .list-items a {
  color: white;
  text-decoration: none;
  padding: 0.6rem 0rem;
  transition: 0.3s ease-out;
}
.category .category-list .list-items a:hover {
  color: #5cddb2;
  font-size: 1.1rem;
  padding: 0.6rem 0.8rem;
}
.category-list .list-items span {
  color: #50ddae;
  margin-top: 0.6rem;
}

.list-items div i {
  font-size: 270%;
}

.list-items .fa-html5 {
  color: rgb(224, 67, 28);
}
.list-items .fa-css3 {
  color: rgb(16, 101, 180);
}
.list-items .fa-js-square {
  color: rgb(238, 255, 1);
}
.list-items .fa-react {
  color: rgb(55, 133, 235);
}
.list-items .fa-sass {
  color: rgb(170, 23, 84);
}

/*=================   SKILLS  =================================*/

.skills {
  height: 80vh;
  /* width: 100vw; */

  background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438)),
    url(../img/k-3.jpg);

  background-size: cover;
  padding: 1rem 8rem;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.tech {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tech-item {
  width: 20%;
  height: 10rem;
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;

  margin: 0 -8rem;
}

.skills h2 {
  color: var(--color-light);
  text-align: center;
  margin: 4rem 0rem;
  font-size: 1.9rem;
}
h2:after {
  content: " ";
  width: 90px;
  height: 1.3px;
  background-color: var(--color-dark);
  margin: 0 auto;
  display: block;
  margin-top: 6px;
}
.skills h2:after {
  content: " ";
  width: 90px;
  height: 1.3px;
  background-color: var(--color-dark);
  margin: 0 auto;
  display: block;
  margin-top: 6px;
}
.skills h4 {
  color: var(--color-light);
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
  font-family: "lato", sans-serif;
}
.skills h4:after {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: white;
  margin: 0 auto;
  display: block;
  margin-top: 6px;
}
.skills p {
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
  font-family: "lato", sans-serif;
}
.skills p::before {
  content: ". ";
  margin: 0;
  padding: 0;
}

/**===============  PROJECTS  =========================================*/

.projects {
  margin: 3rem 0rem;
}

.project {
  width: 100%;
  display: flex;
  margin: 3rem 0rem;
  padding: 1rem 1rem;
  background-image: linear-gradient(180deg, #00afb1 0%, #0e6882 100%);
}
.project-item {
  width: 90%;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  transition: all 0.3s;
}
.projects img {
  width: 100%;
  height: auto;
  padding: 0.3rem 0rem;
}
.project-item:hover {
  transform: scale(1.1);
}

.projects p {
  padding: 0.8rem 0rem;
  color: rgb(53, 53, 53);
  font-size: 0.8rem;
}
.projects h4 {
  color: var(--color-dark);
}

.btn-project:hover {
  background: var(--color-dark);
  color: white;
}

.btn-project {
  border-radius: 1rem;
  border: 1px solid var(--color-light);
  padding: 0.2rem 1.3rem;
  text-decoration: none;
  font-size: 0.7rem;
  margin: 1rem 0.2rem;
}

/**=================  ABOUT  =======================================*/

.about {
  height: 100vh;
  width: 100vw;

  display: flex;
  margin-top: 3rem;
  background-image: linear-gradient(110deg, #00afb1 0%, #0e6882 100%);
  margin: 0rem 0rem;
}
.about-img {
  width: 60vw;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.068)),
    url("../img/Solomon-2.jpg");
  background-size: cover;
  clip-path: polygon(49% 0, 100% 0, 78% 100%, 0 100%, 0 0);
}
.about-bio {
  width: 50vw;
  text-align: center;
  display: block;
  padding: 2rem 3rem;
}
.about-bio h2 {
  color: rgb(240, 240, 240);
  margin: 2rem 0rem;
  font-size: 1.9rem;
}
.about-bio p {
  color: white;
  line-height: 2;
  padding: 2rem 1rem;
}
/**===============  CONTACT  =========================================*/

.contact {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #3298cab0 0%, #18527e 100%);
  margin: 20rem 0rem;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.contact .container {
  position: relative;
  min-width: 68.75rem;
  min-height: 34.25rem;
  display: flex;
  z-index: 10;
  padding: 2rem;
}
.contact .container .contactinfo {
  position: absolute;
  top: 5rem;
  width: 18.75rem;
  font-size: 0.9rem;
  font-weight: bold;
  height: 68%;
  background-image: linear-gradient(180deg, #1374a5 0%, #18527e 100%);
  padding: 2rem 0.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 0px #1374a5;
  justify-content: space-between;
  margin: 2rem 2rem;
}
.contactForm h3 {
  color: var(--color-dark);
}
.contactinfo h3 {
  color: white;
}
.contact .container a {
  color: rgb(255, 0, 0);
}
.contact .container .contactinfo .info {
  position: relative;
  margin: 0.6rem 0;
  padding: 1rem;
}
.contact .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 0.6rem 0;
  cursor: pointer;
  align-items: flex-start;
}
.contact .container .contactinfo .info li span:nth-child(1) {
  width: 1.875rem;
  min-width: 1.875rem;
}
.contact .container .contactinfo .info li span:nth-child(1) i {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}
.contact .container .contactinfo .info li span:nth-child(2) {
  color: rgb(212, 211, 211);
  margin-left: 0.6rem;
  font-weight: 300;
  opacity: 1;
}
.contact .container .contactinfo .info li:hover span:nth-child(1) i,
.contact .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 0.6;
}
.contact .container .contactinfo .sci {
  padding: 1rem;
  position: relative;
  display: flex;
}
.contact .container .contactinfo .sci li {
  list-style: none;
  margin-right: 0.93rem;
}
.contact .container .contactinfo .sci li a {
  text-decoration: none;
}
.contact .container .contactinfo .sci li i {
  filter: invert(1);
  opacity: 1;
}
.contact .container .contactinfo .sci li:hover a i {
  opacity: 1;
}
.contact .container .contactForm {
  margin: 3rem;
  margin-left: 4rem;
  position: absolute;
  padding: 4.3rem 3.12rem;
  background-color: rgb(255, 255, 255);
  padding: 4rem 0rem;
  margin-left: 10rem;
  padding-left: 15rem;
  width: 70%;
  height: 80%;
  box-shadow: 1px 1px 2px 0px rgb(201, 201, 201);
}
.contact .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.875rem;
}
.contact .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 2.18rem 0;
}
.contact .container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
.contact .container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
.contact .container .contactForm .formBox .inputBox input,
.contact .container .contactForm .formBox .inputBox textarea {
  color: rgb(125, 125, 126);
  width: 90%;
  padding: 0.3rem 0.9rem;
  font-size: 1rem;
  resize: none;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid rgb(11, 133, 150);

  outline: none;
}
.contact .container .contactForm .formBox .inputBox textarea {
  min-height: 7.5rem;
}
.contact .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "lato";
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}
.contact .container .contactForm .formBox .inputBox input:focus ~ span,
.contact .container .contactForm .formBox .inputBox textarea:focus ~ span,
.contact .container .contactForm .formBox .inputBox input:valid ~ span,
.contact .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: rgb(206, 147, 147);
}
.contact .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #18527e;
  border: none;
  max-width: 6.2rem;
  padding: 6px 1px;
  border-radius: 3rem;
  border: 3px solid #18527e;
}
.contact .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(180deg, #1374a5 0%, #18527e 100%);
}
/**========================================================*/
.footer {
  height: 40vh;
  background-color: rgb(10, 18, 36);
  display: block;
}
.footer-items {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0rem 2rem;
}
.footer div {
  text-align: center;
  padding: 3rem 2rem;
  color: rgb(117, 115, 115);
}
.footer-items a:hover {
  color: rgb(117, 115, 115);
}
.footer a {
  color: rgb(196, 196, 196);
  padding: 3rem 3rem;
  margin: 0rem 2rem;
  text-decoration: none;
}
